:root {
  --duration: 350ms;
  --customease: cubic-bezier(0.86, 0, 0.07, 1);
  --brandgreen: #cbec56;
}

a {
  background-image: linear-gradient(var(--brandgreen), var(--brandgreen));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.25s ease-out;
}

a:hover,
a:focus {
  background-size: 100% 2px;
}

header {
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo::after {
  content: '';
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 50px;
  height: 50px;
  z-index: -1;
  background-color: var(--brandgreen);
  transition: all var(--duration) var(--customease);
}

.homeLink {
  position: static;
}

.homeLink::after {
  background-color: transparent;
}

.homeLink:hover .logo::after {
  width: 100%;
  height: 3px;
  top: calc(2.5rem + 47px);
}

.logoTitle {
  transition: all var(--duration) var(--customease);
}

.homeLink:hover .logoTitle {
  font-weight: 600;
  scale: 155%;
  transform: translateX(-19px);
}

@media (prefers-reduced-motion: reduce) {
  .logo::after,
  .logoTitle {
    transition: none;
  }
}

kbd {
  background-color: var(--brandgreen);
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 0.2),
    0 2px 0 0 rgb(255 255 255 / 0.5) inset;
  color: #333333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}